<!DOCTYPE html>
<html>
<head>
    <title>Bank lotOfMoney</title>
</head>
<body>
    <h1>Bank lotOfMoney</h1>

    {% if user.is_authenticated %}
        <p>Welcome,{{ user.username }}! </p>
        <div>
            <h3>your account balance</h3>
            <p>{{ balance }} €</p>
        </div>

        <h3>Send Money</h3>
        <form method="POST">
            <!--{% csrf_token %}--> <!-- FLAW 1 CSRF; by omitted this token, the view will accept requests without a valid CSRF token -->
            <!-- FIX 1; to fix the flaw, uncomment the line above -->
            <label for="iban">IBAN of the recipient:</label><br>
            <input type="text" id="iban" name="iban" ><br>

            <label for="amount">Amount :</label><br>
            <input type="number" id="amount" name="amount"><br>

            <button>Send</button>
        </form>
        {% if request.session.last_iban %}
        <!-- this block shows the last sent iban-->
        <div>
            <p>last transfert was to: </p>
            
            <!-- --- FLAW 2; xss cross scripting--- -->
            <!-- the '|safe' filter disables Django's auto-escaping, allowing malicious scripts to run -->
            <p>{{ request.session.last_iban|safe }}</p>

            <!-- FIX 2; to fix this, remove the '|safe' filter so Django securely escapes HTML characters -->
            <!--<p>{{ request.session.last_iban }}</p>--> <!-- you can also uncomment this line-->
        </div>
        {% endif %}
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        {% else %}
        <p><a href="{% url 'login' %}">login</a> to access your bank account</p>
        {% endif %}
</body>
</html>

