<!DOCTYPE html>
<html>
<head>
    <title>Bank lotOfMoney</title>
</head>
<body>
    <h1>Bank lotOfMoney</h1>

    {% if user.is_authenticated %}
        <p>Welcome,{{ user.username }}! </p>
        <div>
            <h3>your account balance</h3>
            <p>{{ balance }} €</p>
        </div>

        <h3>Send Money</h3>
        <form method="POST">

            <!-- FLAW 1 CSRF; Cross-Site Request Forgery vulnerability. Without a CSRF token, attackers can forge requests
            to transfer money on behalf of authenticated users from malicious websites.
            As an example, the hacker_csrf.html file in this project demonstrates how an attacker can create a fake page 
            to trick users into submitting unauthorized requests to the bank application.-->
            
            <!--{% csrf_token %}--> 

            <!-- FIX 1; to fix the flaw, uncomment the line above. 
            uncommenting the token will enable Django's built-in CSRF protection, which verifies a unique session token on every POST request to guarantee 
            it originated from this legitimate form and not a malicious third-party site. -->            
            
            <label for="iban">IBAN of the recipient:</label><br>
            <input type="text" id="iban" name="iban" ><br>

            <label for="amount">Amount :</label><br>
            <input type="number" id="amount" name="amount"><br>

            <button>Send</button>
        </form>
        {% if request.session.last_iban %}
        <!-- this block shows the last sent iban-->
        <div>
            <p>last transfert was to: </p>
            <!-- FLAW 2; Cross-Site Scripting vulnerability. By using the '|safe' filter, we explicitly disable Django's automatic HTML escaping. 
                 This allows any malicious JavaScript payload stored in the session to be executed 
                 directly by the victim's browser instead of being rendered as harmless text. --> 
            <p>{{ request.session.last_iban|safe }}</p> 
            <!-- --- FIX 2 --- --> 
            <!-- To fix this vulnerability, remove the '|safe' filter. By default, Django automatically 
                 escapes dangerous HTML characters (converting '<' to '&lt;', etc...). This ensures the 
                 browser treats the input strictly as plain data, neutralizing any injected scripts. --> 
            <!-- Uncomment the line below and comment/remove the vulnerable line above to apply the fix: -->
            <!-- <p>{{ request.session.last_iban }}</p> -->
        </div>
        {% endif %}
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        {% else %}
        <p><a href="{% url 'login' %}">login</a> to access your bank account</p>
        {% endif %}
</body>
</html>

